<div class="container">
  <div class="col-xs-12 col-lg-8">
    <div class="main_visual">
    <!-- あとで画像いれる -->
    </div>
    <div class="main_text">
      <h3>人をもっと好きになる</h3>
      <h1>人となりBook</h1>  
    </div>
  </div>
  <div class="col-xs-12 col-lg-4">
    <div class="main_right">
      <p>人となりBookをはじめよう</p>
      <%= link_to 'アカウント作成', root_path, class: 'btn btn-primary' %>
      <%= link_to 'ログイン', root_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="for-what" >
    <div class="col-xs-6 col-lg-3">
      <h3>友達同士で</h3>
      <p>ほげほげ</p>
    </div>
    <div class="col-xs-6 col-lg-3">
      <h3>仕事仲間で</h3>
      <p>ほげほげ</p>
    </div>
    <div class="col-xs-6 col-lg-3">
      <h3>初めましてに</h3>
      <p>ほげほげ</p>
    </div>
    <div class="col-xs-6 col-lg-3">
      <h3>自己分析に</h3>
      <p>ほげほげ</p>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="text-center">
    <h3>人となりBookをはじめよう</h3>
      <%= link_to 'アカウント作成', root_path, class: 'btn btn-primary' %>
      <%= link_to 'ログイン', root_path, class: 'btn btn-info' %>
  </div>
</div>