
/* フッターCSS　あとで整える */
footer small {
  padding: 8px 0;
  color: #fff;
}

footer a {
  font-size: smaller;
  float: right;
}

.fixed-bottom {
  height: 60px;
  background-color: black;
}

 
.fixed-bottom > .container {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}


