
.header-bg {
  background-image: url("../assets/book_image1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;

}

/* 幅いっぱいにする設定 */
.container {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: auto;
}

/* フォントサイズ調整 */
@media (min-width: 100px) {
  h2 {
    font-size: 20px
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 40px
  }
}
